@keyframes blurSlideIn {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    z-index: 9999;
  opacity: 0; 
  animation: blurSlideIn 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s forwards;
}
.button button img{
    width: 20px;
}
.arrow{
    padding: 13px;
    border-radius: 100px;
    background-color: #000;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5);
}

.button button {
  z-index: 999999;
    font-family: 'Montserrat';
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
  padding: 10px 10px 10px 30px;
  border-radius: 10rem;
  color: #000;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s;
 box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);  
}

.button button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10rem;
  z-index: -2;
}

.button button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #dddddd; 
  border-radius: 10rem;
  z-index: -1;
  transition: width 0.3s ease;
}

.button button:hover {
  color: #000;
}

.button button:hover::before {
  width: 100%; 
}
