.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    width: 100%;
    position: absolute;top:0;
    z-index: 9999;
}
.header_container{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex: 1;
    font-size: 25px;
    font-weight: 700;
    color: #2563EB;
}
.container_nav{
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav ul li{
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(255,255,255, 0.7);
}
.line{
    width: 1px;
    background-color: rgba(255,255,255,0.2);
    height: 30px;
}
.options{
    display: flex;
    align-items: center;
    gap: 20px;
}
.language{
    text-transform: uppercase;
    color: rgba(255,255,255, 0.5);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.switch{
    background-color: #24272C;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
}
.switch img{
    width: 20px;
}