.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
    width: 100%;
}
.header_container{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex: 1;
    font-size: 25px;
    font-weight: 600;
    color: #2563EB;
}
.container_nav{
    flex: 3;
    display: flex;
    justify-content: flex-end;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav ul li{
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(255,255,255, 0.5);
}
.line{
    width: 10px;
    background-color: #000;
    height: auto;
}
.header_options{
    width: 150px;
    height: auto;
    background-color: red;
}