.sobre{
    width: 100%;
    padding: 80px 50px;
    background-color: #1B1F24;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.left{
    flex: 2;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.left .subtitle{
    color: #2563EB;
    font-size: 15px;
}
.left p{
    color: #F2F2F2;
    font-size: 18px;
}
.left h2{
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    color: #fff;
}
.social{
    display: flex;
    gap: 20px;
}
.github, .linkedin, .whatsapp{
    padding: 15px;
    border-radius: 100px;
    border: 1px solid #fff;
}
.right{
    flex: 1;
}