.portfolio{
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.container{
    padding: 0 20px;
    width: 100%;
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}
.header{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.left .subtitle {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    border-left: 4px solid #2563EB;
    padding: 0 0 0 20px;
}
.left h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;

    background: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
    color: #F2F2F2;
    font-size: 18px;
}
.right p{
    width: 70%;
    color: #a3a3a3;
    font-size: 18px;
    line-height: 1.6;

}
.container_card{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}
.card {
    border-radius: 40px;
    height: auto;
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}
.card_img {
    width: 100%;
    height: 250px;
    background-color: #323b45;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 40px 40px 0 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.card_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    background: linear-gradient(
        105deg,
        transparent 20%,
        rgba(255, 255, 255, 0.3) 40%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.3) 60%,
        transparent 80%
    );
    pointer-events: none;
    transition: none; 
}

.card:hover .card_img::before {
    left: 100%;
    transition: left 0.7s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.card_down {
    width: 100%;
    height: 210px;
    background-color: #1a1a1a;
    border-radius: 0 0 40px 40px;
    position: relative;
}
.content {
    width: calc(100% - 60px);
    left: 30px;
    bottom: 30px;
    padding: 25px 30px;
    background-color: #202020;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.content h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: -5px;
    color: #fff;
}
.content p {
    font-size: 15px;
    color: #a3a3a3;
    line-height: 1.5;
    margin: 0;
}
.conainer_tag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tag {
    border-radius: 50px;
    background-color: rgb(255, 255, 255, 0.1);
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 6px 16px;
    cursor: pointer;
    color: #fff;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.tag:hover {
    background-color: #121212;
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(213, 213, 213, 0.1);
}
.content button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #2563EB;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.content button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background-color: #2563EB;
    transition: width 0.3s ease-in-out;
}

.content button:hover::after {
    width: 100%;
}
/*Responsividade*/
@media (min-width: 768px) and (max-width: 1024px) {

}
@media (max-width: 767px) {
    .header{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
        gap: 50px;
    }
    .card {
        width: 100%;
    }
    .left h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .right p{
        width: 100%;
    }
    .card_img {
    width: 100%;
    height: 300px;
    }
    .tag {
    font-size: 10px;
    padding: 6px 10px;
    }
    .content p {
        font-size: 15px;
        line-height: 1.5;
    }
    .content {
        width: calc(100% - 40px);
        left: 20px;
        bottom: 20px;
        padding: 20px 20px;
    }
}