.portfolio{
    width: 100%;
    padding: 80px 50px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.left{
flex: 1;
display: flex;
flex-direction: column;
gap: 15px;
}
.left .subtitle{
    color: #2563EB;
    font-size: 15px;
}
.left h2{
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    color: #fff;
}
.right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
    color: #F2F2F2;
    font-size: 18px;
}
.right p{
    width: 65%;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
}
.card{
    border-radius: 40px;
    height: auto;
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    position: relative;
}
.card_img{
    width: 100%;
    height: 250px;
    background-image: url("../../assets/projeto.webp");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px 40px 0 0;
}
.card_down{
    width: 100%;
    height: 210px;
    background-color: #202020;
    border-radius: 0 0 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.content{
    width: calc(100% - 60px);
    height: calc(auto - 60px);
    margin: 30px;
    padding: 25px 30px;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #202020;
    position: absolute; bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.content h3{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: -10px;
}
.content p{
    font-size: 16px;
    color: #F2F2F2;
    
}
.conainer_tag{
    width: 100%;
    display: flex;
    gap:20px;
}
.tag{
    width: auto;
    border-radius: 50px;
    border:1px solid #2563EB;
    font-size: 12px;
    padding: 5px 20px;
    transition: all;
}
.tag:hover{
    background-color: #2563EB;
}
.content button{
    display: flex;
    gap: 5px;
    color: #2563EB;
    font-weight: 600;
}